<div class="record-section-container">

  <div class="top-row-controls-container card">
    <div class="title-and-datepicker-container">

      <!-- Title -->
      <div class="d-flex j-center"
           style="position: absolute; top: 11px; left: 20px">
        <span class="record-page-title" 
          [ngClass]="uiState.showDateInput || uiState.calendarHover ? 'record-page-title_selected' : ''">
          {{parseDateIntoISO(date) | date}}
        </span>
      </div>
  
      <!-- Date Picker -->
      <div class="d-flex j-center" style="position: absolute; top: 5px; right: 0;">
        <form [formGroup]="dateForm">
          <div style="position: relative;">
            <input
              class="input-field date-input"
              type="text"
              formControlName="date"
              ngbDatepicker
              (clickOutside)="closeDatepicker($event)"
              #d="ngbDatepicker"/>
              <i class="fa fa-calendar-alt calendar-icon date-picker-button"
              appCalendarHover
              [ngClass]="uiState.showDateInput || uiState.calendarHover ? 'date-picker-button_selected' : ''"
              (click)="d.toggle(); toggleShowDateInput()"></i>
          </div>
        </form>
      </div>
    </div>
  
    <!--  Controls -->
    <div>
      <div class="controls-container">
        <div class="add-exercise-controls">
            <button class="rect-btn rect-btn_green rect-btn_small"
                    (click)="toggleAddExerciseForm('weights')">
              Weights <i class="fa fa-plus"></i>
            </button>
            <button class="rect-btn rect-btn_red rect-btn_small"
            (click)="toggleAddExerciseForm('cardio')">
              Cardio <i class="fa fa-plus"></i>
            </button>
        </div>
      </div>
    </div>

    <!--  Tools Button  -->
    <span class="edit-exercises-button status" style="cursor: pointer" (click)="openManageExercisesDialog()">
        <i class="fas fa-cog"></i>
        <div class="status__tooltip status__tooltip_bottom" style="font-size: 16px; left: -50px;">
            Manage exercises.
        </div>
    </span>

  </div>

  <!-- Weights Form -->
  <div *ngIf="activeFormView('weights')"
        class="record-form-container">
    <section class="accordion-card"
              style="margin-left: auto; margin-right: auto; max-width: 400px;">

      <section class="accordion-card-body">
        <div class="d-flex j-center align-center" style="margin: 12px auto 0 auto;">
            <img class="exercise-form-image" src="../../assets/logo-green.png">
        </div>
        <h2 class="page-title page-title_h2 page-title_green"
            style="margin: 10px auto 20px auto; text-align: center; font-weight: normal;">
          Add Lifting Exercise
        </h2>

        <!-- Form -->
        <form [formGroup]="createLiftingExerciseForm">
        
          <!--  Name  -->
          <div class="input-field">
            <label class="input-label status" style="position: relative;">
              Exercise Name
              <i class="fa fa-plus add-exercise-icon status" (click)="toggleAddExerciseInput('lifting')"></i>
              <div class="status__tooltip status__tooltip_right">
                <i class="fa fa-arrow-left" style="color: #fff"></i> Add exercise to list.
              </div>
            </label>

            <div *ngIf="uiState.addExerciseInput === 'lifting'"
                  class="d-flex align-start"
                  style="margin-bottom: 10px;">
              <input
              class="input-control"
              style="margin-bottom: 5px; margin-top: 5px;"
              formControlName="addExercise"
              (keyup.enter)="addExerciseToUserData('lifting')"
              type="text">
              <div class="d-flex j-center align-center" style="padding: 5px;">
                <button class="add-exercise-button add-exercise-button_green"
                        (click)="addExerciseToUserData('lifting')"
                        [disabled]="isFormFieldPopulated(createLiftingExerciseForm, 'addExercise')">
                  Add <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            
            <select class="input-control"
                formControlName="name"
                (change)="handleSelectedExerciseChange($event, createLiftingExerciseForm)">
              <option *ngFor="let exercise of liftingExercises"
                      [value]="exercise">
                  {{exercise}}
              </option>
            </select>
          </div>

          <div class="input-group">

            <!-- Sets  -->
            <div class="input-field">
              <label class="input-label">
                Sets *
              </label>
              <input class="input-control"
                      type="number"
                      formControlName="sets">
            </div>


            <!-- Reps -->
            <div class="input-field">
              <label class="input-label">
                Total Reps *
              </label>
              <input class="input-control"
                      type="number"
                      formControlName="reps">
            </div>

          </div>
          
          <!-- Body Parts -->
          <div class="input-field">
              <label class="d-flex j-center" style="width: 100%; padding-bottom: 10px;">
                Body Parts:
              </label>
              <div class="checkbox-grid-container">
                <div *ngFor="let bodyPart of bodyParts; let i = index;" class="input-checkbox">
                    <input  type="checkbox"
                            [checked]="bodyPart.selected"
                            (change)="toggleSelectBodyPart(i)">
                      {{bodyPart.bodyPart}}
                </div>
              </div>
          </div>
      
          <div class="d-flex j-center" style="margin-left: auto; margin-right: auto;">
            <button class="rect-btn rect-btn_green"
                    type="button"
                    [disabled]="!createLiftingExerciseForm.dirty || !createLiftingExerciseForm.valid"
                    (click)="submitExercise(createLiftingExerciseForm.value, 'weights')">
              Submit
            </button>
          </div>
        </form>
      </section>
    </section>
  </div>

  <!-- Cardio Form -->
  <div *ngIf="activeFormView('cardio')"
        class="record-form-container">
      <section class="accordion-card"
                style="margin-left: auto; margin-right: auto; max-width: 400px;">
  
        <section class="accordion-card-body">
  
            <div class="d-flex j-center align-center" style="margin: 8px auto 0 auto;">
                <img class="exercise-form-image" style="height: 80px; width: 85px" src="../../assets/cardio.png">
            </div>
            <h2 class="page-title page-title_h2 page-title_green"
                style="margin: 5px auto 20px auto; text-align: center; font-weight: normal;">
              Add Cardio Exercise
            </h2>
  
          <!-- Form -->
          <form [formGroup]="createCardioExerciseForm">
          
            <!--  Name  -->
            <div class="input-field">
              <label class="input-label status" style="position: relative;">
                Exercise Name
                <i class="fa fa-plus add-exercise-icon" (click)="toggleAddExerciseInput('cardio')"></i>
                <div class="status__tooltip status__tooltip_right">
                    <i class="fa fa-arrow-left" style="color: #fff"></i> Add exercise to list.
                </div>
              </label>


            <div *ngIf="uiState.addExerciseInput === 'cardio'"
              class="d-flex align-start"
              style="margin-bottom: 10px;">
              <input
              class="input-control"
              style="margin-bottom: 5px; margin-top: 5px;"
              formControlName="addExercise"
              (keyup.enter)="addExerciseToUserData('cardio')"
              type="text">
              <div class="d-flex j-center align-center" style="padding: 5px;">
                <button class="add-exercise-button add-exercise-button_red"
                        (click)="addExerciseToUserData('cardio')"
                        [disabled]="isFormFieldPopulated(createCardioExerciseForm, 'addExercise')">
                  Add <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>

              <select class="input-control"
                      formControlName="name"
                      (change)="handleSelectedExerciseChange($event, createCardioExerciseForm)">
                <option *ngFor="let exercise of cardioExercises"
                    [value]="exercise">
                  {{exercise}}
                </option>
              </select>
            </div>
           
            <!-- Miles  -->
            <div class="input-field" style="width: 50%; margin-right: auto;">
              <label class="input-label">
                Miles *
              </label>
              <input class="input-control"
                      type="number"
                      formControlName="miles">
            </div>
            
            <!-- Body Parts -->
            <div class="input-field">
                <label class="d-flex j-center" style="width: 100%; padding-bottom: 10px;">
                  Body Parts:
                </label>
                <div class="checkbox-grid-container">
                  <div *ngFor="let bodyPart of bodyParts; let i = index;" class="input-checkbox">
                      <input  type="checkbox"
                              [checked]="bodyPart.selected"
                              (change)="toggleSelectBodyPart(i)">
                        {{bodyPart.bodyPart}}
                  </div>
                </div>
            </div>
        
            <div class="d-flex j-center" style="margin-left: auto; margin-right: auto;">
              <button class="rect-btn rect-btn_red"
                      type="button"
                      [disabled]="!createCardioExerciseForm.dirty || !createCardioExerciseForm.valid"
                      (click)="submitExercise(createCardioExerciseForm.value, 'cardio')">
                Submit
              </button>
            </div>
          </form>
        </section>
      </section>
    </div>

  <!-- Exercises Display -->
  <div class="exercises-display"
        *ngIf="exercises && exercises.length > 0"
       [ngClass]="uiState.showDateInput ? 'exercises-display_lowered' : ''">
    <div class="divider" style="margin-bottom: 35px; width: 64%;"></div>
    <div *ngFor="let exercise of exercises" class="exercises-display-exercise">
        <app-exercise-item
        [exercise]="exercise"
        (editExercise)="openEditExerciseForm($event)"
        (deleteExercise)="deleteExercise($event)">
      </app-exercise-item>
    </div>
  </div>

</div>