@import '../../sass/colors';
@import '../../sass/forms';
@import '../../sass/buttons';

.record-section-container {
    padding: 0 20px;
}

.title-and-datepicker-container {
    margin: 0 auto;
    position: relative;
    width: 450px;
}

.record-page-title {
    font-size: 28px;
}

.date-input {
    height: 32px;
    width: 1px;
    font-size: 20px;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    top: -34px;
    left: 22px;
    z-index: -1;
    visibility: hidden;
}

.date-picker-button {
    height: 32px;
    position: absolute;
    top: -3px;
    left: -70px;
    z-index: 5;
    color: lighten($green, 20);
    font-size: 22px;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 68px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
}

.add-exercise-controls {
    display: flex;
    justify-content: space-between;
    width: 250px;
}