@import '../../sass/colors';
@import '../../sass/forms';
@import '../../sass/buttons';
@import '../../sass/layouts';

.record-section-container {
    padding: 0 20px;
    min-height: 1000px;
}

.title-and-datepicker-container {
    margin: 0 auto;
    position: relative;
    width: 450px;
}

.record-page-title {
    font-size: 22px;
    border-bottom: 3px solid $jet-black;
    padding: 5px 50px 5px 10px;
}

.date-input {
    height: 32px;
    width: 1px;
    font-size: 20px;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    top: -34px;
    left: 22px;
    z-index: -1;
    visibility: hidden;
}

.date-picker-button {
    height: 32px;
    position: absolute;
    top: 2px;
    left: -75px;
    z-index: 5;
    color: $purple;
    font-size: 34px;
    cursor: pointer;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 68px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 6px;
}

.add-exercise-controls {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.record-form-container {
    padding: 20px;
    margin-top: 0;
}

.checkbox-grid-container {
    display: grid;
    grid-template-columns: 175px 175px;

    .input-checkbox {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        width: calc(100% - 30px);
    }
}
.success-and-error-message-container {
    display: flex;
    justify-content: center;
}

.success-message-container, 
.error-message-container {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 6px 2px #3331;
    font-size: 18px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
}

.success-message-container {
    color: lighten($green, 20);
}

.error-message-container {
    color: $red;
}

.exercises-display {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    &-exercise {

    }
}