$blue: lighten(#778899, 10);
$green: darken(#b5d2b5, 22);
$yellow: gold;
$red: #C25B56;
$purple: darken(#9102ff, 10);
$dark-blue: #364051;
$gray: #666;
$darkGray: #333;
$jet-black: #24292e;
$off-white: darken(#f9f9f9, 5);
$gray-border: #d8dee2;
$disabledGray: #ddd;
$light-slate-gray: #748697;
$background-gray: lighten(#696969, 33);