$blue: #0077be;
$green: darken(#32CD32, 27);
$yellow: gold;
$red: 	#DC143C;
$purple: darken(#9102ff, 10);
$dark-blue: #364051;
$gray: #666;
$darkGray: #333;
$jet-black: #24292e;
$off-white: darken(#f9f9f9, 5);
$gray-border: #d8dee2;
$disabledGray: #ddd;
