<section class="manage-exercises">
  <h3 class="manage-exercises-title">
    Manage Exercises
  </h3>

  <div class="manage-exercises-section">
    <div class="manage-exercises-section-header">
        <img class="manage-exercises-section-header-image" src="../../assets/logo-green.png">
    </div>
  </div>

  <div class="manage-exercises-section">
      <div class="manage-exercises-section-header">

      </div>
  </div>

  <div class="manage-exercises-section">
      <div class="manage-exercises-section-header">

      </div>
  </div>
</section>