<div class="analyze-section-container">

    <div *ngIf="uiState.loading" class="d-flex j-center align-center" style="margin: 200px auto;">
        <app-spinner></app-spinner>
    </div>

    <div *ngIf="uiState.noData" class="d-flex j-center align-center" style="margin: 100px auto;">
        You don't have any recorded workouts on file. Please go to the "Record" section to add some exercises!
    </div>

    <div *ngIf="!uiState.loading && !uiState.noData">

        <app-year-tracker
            [exercises]="exercises"
            [currentDate]="currentDate"
            [mostRecentSunday]="mostRecentSunday"
            [mostRecentSundayMinusOneYear]="mostRecentSundayMinusOneYear">
        </app-year-tracker>

        <div class="card graph-card">
            <app-exercises-graph
                [exercises]="exercisesGraph.exercises"
                [sets]="exercisesGraph.sets">
            </app-exercises-graph>
        </div>

        <div class="card graph-card">
            <app-body-parts-graph
                [bodyParts]="bodyPartsGraph.bodyParts"
                [sets]="bodyPartsGraph.sets">
            </app-body-parts-graph>
        </div>

        <div class="card graph-card">
            <div class="d-flex j-space-between align-center" style="width: 680px; margin: 0 auto;">
                <app-lifting-cardio-comparison-graph [data]="exerciseComparisonGraph">
                </app-lifting-cardio-comparison-graph>

                <app-upper-lower-body-comparison-graph [data]="upperLowerBodyComparisonGraph">
                </app-upper-lower-body-comparison-graph>
            </div>
        </div>
    </div>

</div>