@import '../../sass/colors';
@import '../../sass/layouts';

.analyze-section-container {
    padding: 30px;
    min-height: 1000px;
}

.tracker {
    display: grid;
    grid-template-columns: repeat(53, 12px);
    grid-template-rows: repeat(7, 12px);
    grid-auto-flow: column;
    margin: 30px auto;
    width: 624px;

    &-item {
        width: 12px;
        height: 12px;
        border: 2px solid #fff;

        &_none {
            background-color: #ebedf0;
        }

        &_low {
            background-color: #c6e48b;
        }

        &_medium {
            background-color: #7bc96f;
        }

        &_high {
            background-color: #239a3b;
        }

        &_max {
            background-color: #196127;
        }
    }
}