@import '../../sass/colors';
@import '../../sass/layouts';

.analyze-section-container {
    padding: 30px;
    min-height: 1000px;
}

.body-parts-graph-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 828px;
    padding-top: 30px;
}