<div class="analyze-section-container">

    <div *ngIf="uiState.loading" class="d-flex j-center align-center" style="margin: 200px auto;">
        <app-spinner></app-spinner>
    </div>

    <div *ngIf="!uiState.loading">

        <app-year-tracker
            [exercises]="exercises"
            [currentDate]="currentDate"
            [mostRecentSunday]="mostRecentSunday"
            [mostRecentSundayMinusOneYear]="mostRecentSundayMinusOneYear">
        </app-year-tracker>

        <div class="card graph-card">
            <app-exercises-graph
                [exercises]="exercisesGraph.exercises"
                [sets]="exercisesGraph.sets">
            </app-exercises-graph>
        </div>

        <div class="card graph-card">
            <app-body-parts-graph
                [bodyParts]="bodyPartsGraph.bodyParts"
                [sets]="bodyPartsGraph.sets">
            </app-body-parts-graph>
        </div>
    </div>

</div>