@import '../../sass/colors';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-slate-gray;
    padding: 16px 2%;
    height: 32px;
    font-size: 14px;

    &-section-left {
        display: flex;
        justify-content: flex-start;
    }

    &-section-right {
        display: flex;
        justify-content: flex-end;
    }

    &-navlink {
        color: #fff;
        font-weight: 400;
        font-size: 17px;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

}