@import '../../sass/colors.scss';
@import '../../sass/forms.scss';
@import '../../sass/buttons.scss';

.login-form {
    width: 300px;
    border: 1px solid $gray-border;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px 20px 20px 20px;
}