<div class="d-flex flex-column j-center align-center" style="width: 100%; height: 65vh;">
  <div class="sign-in-image-container">
      <img src="../../../assets/logo.png" style="height: 60px; width: 80px">
  </div>
  <div class="sign-in-text-container">
    Sign In To Workout Tracker
  </div>
  <form [formGroup]="loginForm"
        class="login-form">

        <div class="d-flex j-center">
            <div class="input-field">
              <label class="input-label" style="font-weight: 500">Username</label>
              <input class="input-control"
                      type="text"
                      formControlName="name"
                      required/>
            </div>
        </div>

        <div class="d-flex j-center">
            <div class="input-field">
              <label class="input-label" style="font-weight: 500">Password</label>
              <input class="input-control"
                      type="text"
                      formControlName="password"
                      required/>
            </div>
        </div>

        <div class="d-flex j-center">
            <button class="rect-btn rect-btn_green"
              style="margin: 0 0 20px 20px"
              type="button"
              [disabled]="!loginForm.valid"
              (click)="submitLoginForm(loginForm.value)">
              Sign In
          </button>
        </div>
        
  </form>
</div>