<div class="d-flex flex-column j-start align-center" style="width: 100%; height: 80vh; padding-top: 100px;">

  <!--  Top Image -->
  <div *ngIf="uiState.view === 'login'" class="sign-in-image-container">
      <img src="../../../assets/logo-blue-alt.png" style="height: 60px; width: 80px">
  </div>
  <div *ngIf="uiState.view === 'createUser'" class="sign-in-image-container">
      <img src="../../../assets/logo-green-alt.png" style="height: 60px; width: 80px">
  </div>

  <div class="sign-in-text-container">
    <span *ngIf="uiState.view === 'login'">Sign In To Workout Tracker</span>
    <span *ngIf="uiState.view === 'createUser'">Sign Up For Workout Tracker</span>
  </div>

  <!-- Login Form -->
  <form *ngIf="uiState.view === 'login'"
        [formGroup]="loginForm"
        class="card login-form">

        <div class="d-flex j-center">
            <div class="input-field">
              <label class="input-label" style="font-weight: 500"
              [ngClass]="{'input-error': isTouchedInvalid('loginForm', 'name')}">
                Username
              </label>
              <input class="input-control"
                      type="text"
                      formControlName="name"
                      required/>
            </div>
        </div>

        <div class="d-flex j-center">
            <div class="input-field">
              <label class="input-label"
              style="font-weight: 500"
              [ngClass]="{'input-error': isTouchedInvalid('loginForm', 'password')}">
                Password
              </label>
              <input class="input-control"
              type="password"
                      formControlName="password"
                      required/>
            </div>
        </div>

        <!--  Password length error message -->
        <div *ngIf="isTouchedInvalid('loginForm', 'password')" 
        style="padding: 0 10px 15px 10px; text-align: center;"
              class="d-flex j-center">
          <span class="error-message">Password must be at least eight (8) characters.</span>
        </div>

        <div class="d-flex j-center">
            <button class="rect-btn rect-btn_green"
              type="button"
              
              (click)="submitLoginForm(loginForm.value)">
              Sign In
          </button>
        </div>

        <div class="d-flex j-center" style="padding-top: 15px;">
          <span *ngIf="uiState.loginError" class="error-message" style="padding: 10px; text-align: center;">Incorrect username and password combination.</span>
        </div>
  </form>

   <!-- Sign Up Form -->
   <form *ngIf="uiState.view === 'createUser'"
    [formGroup]="createUserForm"
    class="card login-form">

    <div class="d-flex j-center">
        <div class="input-field">
          <label class="input-label"
          style="font-weight: 500"
          [ngClass]="{'input-error': isTouchedInvalid('createUserForm', 'email')}">
            Email
          </label>
          <input class="input-control"
                  type="text"
                  formControlName="email"
                  required/>
        </div>
    </div>

    <div class="d-flex j-center">
        <div class="input-field">
          <label class="input-label"
          style="font-weight: 500"
          [ngClass]="{'input-error': isTouchedInvalid('createUserForm', 'name')}">
            Username
          </label>
          <input class="input-control"
                  type="text"
                  formControlName="name"
                  required/>
        </div>
    </div>

    <div class="d-flex j-center">
        <div class="input-field">
          <label class="input-label"
          style="font-weight: 500"
          [ngClass]="{'input-error': isTouchedInvalid('createUserForm', 'password')}">
            Password
          </label>
          <input class="input-control"
                  type="password"
                  formControlName="password"
                  required/>
        </div>
    </div>

    <!--  Password length error message -->
    <div *ngIf="isTouchedInvalid('createUserForm', 'password')" 
          style="padding: 0 10px 15px 10px; text-align: center;"
          class="d-flex j-center">
      <span class="error-message">Password must be at least eight (8) characters.</span>
    </div>

    <div class="d-flex j-center">
        <button class="rect-btn rect-btn_green"
          type="button"
          [disabled]="!createUserForm.valid"
          (click)="submitCreateUserForm(createUserForm.value)">
          Sign Up
      </button>
    </div>

    <div class="d-flex j-center" style="padding-top: 15px;">
        <span *ngIf="uiState.createUserError" class="error-message">{{uiState.createUserErrorMessage}}</span>
    </div>
  </form>

  <div *ngIf="uiState.view === 'login'"
        class="d-flex j-center align-center" style="padding: 20px;">
      <div class="card d-flex j-center align-center" style="padding: 15px;">
        New to Workout Tracker? 
        <span (click)="toggleViewState('createUser')" class="create-account-text">
          Create an account.
        </span>
      </div>
  </div>

  <div *ngIf="uiState.view === 'createUser'"
    class="d-flex j-center align-center" style="padding: 20px;">
    <div class="card d-flex j-center align-center" style="padding: 15px; width: 316px;">
      Already Have An Account? 
      <span (click)="toggleViewState('login')" class="login-text">
        Sign In
      </span>
    </div>
  </div>

</div>