<!-- Tracker Card -->
<section class="tracker card">

    <div class="tracker-header">
        <span *ngIf="userHasExercisedThisYear()">
            You've worked out {{getNumberOfDaysWithExercise()}} {{getNumberOfDaysWithExercise() === 1 ? 'time' : 'times'}} since {{getDateOfFirstExercise() | date : 'longDate'}}.
        </span>
    </div>

    <!-- X-Axis -->
    <div class="x-axis" [ngClass]="getXAxisPosition()">
        <div *ngFor="let month of lastTwelveMonths" class="axis-text">
            {{month | titlecase}}
        </div>
    </div>

    <!-- Y-Axis -->
    <div class="y-axis">
        <div *ngFor="let day of daysOfWeek" class="axis-text">
            {{day | titlecase}}
        </div>
    </div>

    <!-- Tracker Items -->
    <div *ngFor="let item of yearTrackerDates; let i = index;">
        <span class="status">
            <div class="tracker-item"
                [ngClass]="getColorScale(item)">
            </div>
            <div class="status__tooltip status__tooltip_bottom tracker-item-tooltip" style="font-size: 16px; left: -50px;">
                <div>
                    {{item.date | date}}
                </div>
                <div>
                    {{item.exercises.length}} Exercises
                </div>
            </div>
        </span>
    </div>
</section>