@import '../../../sass/colors';
@import '../../../sass/layouts';
@import '../../../sass/tooltips';

.tracker {
    display: grid;
    grid-template-columns: repeat(53, 15px);
    grid-template-rows: repeat(7, 15px);
    grid-auto-flow: column;
    margin: 30px auto;
    width: 795px;
    padding: 85px 20px 30px 40px;
    position: relative;

    &-header {
        color: $light-slate-gray;
        position: absolute;
        top: 0;
        left: 0;
        width: 865px;
        height: 50px;
        text-align: center;
        padding-top: 20px;
    }

    &-item {
        width: 13px;
        height: 13px;
        border: 2px solid #fff;
        cursor: pointer;

        &_none {
            background-color: #ebedf0;
            z-index: 5;
        }

        &_low {
            background-color: #c6e48b;
            z-index: 6;
        }

        &_medium {
            background-color: #7bc96f;
            z-index: 7;
        }

        &_high {
            background-color: #239a3b;
            z-index: 8;
        }

        &_max {
            background-color: #196127;
            z-index: 9;
        }

        &-tooltip {
            div {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }

    .x-axis {
        width: 752px;
        position: absolute;
        top: 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &_left {
           left:  58px;
        }
    
        &_center {
            left:  68px;
         }
    
         &_right {
            left:  78px;
         }
    }
    
    .y-axis {
        height: 72px;
        position: absolute;
        top: 101px;
        left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .axis-text {
        color: #767676;
        font-size: 10px;
    }
}