@import '../../../sass/colors';
@import '../../../sass/layouts';

.tracker {
    display: grid;
    grid-template-columns: repeat(53, 14px);
    grid-template-rows: repeat(7, 14px);
    grid-auto-flow: column;
    margin: 30px auto;
    width: 730px;
    padding: 30px;
    position: relative;

    &-item {
        width: 14px;
        height: 14px;
        border: 2px solid #fff;

        &_none {
            background-color: #ebedf0;
        }

        &_low {
            background-color: #c6e48b;
        }

        &_medium {
            background-color: #7bc96f;
        }

        &_high {
            background-color: #239a3b;
        }

        &_max {
            background-color: #196127;
        }
    }

    .x-axis {
        width: 710px;
        position: absolute;
        top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &_left {
           left:  46px;
        }
    
        &_center {
            left:  54px;
         }
    
         &_right {
            left:  61px;
         }
    }
    
    .y-axis {
        height: 72px;
        position: absolute;
        top: 43px;
        left: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .axis-text {
        color: #767676;
        font-size: 10px;
    }
}