@import './sass/colors';

html, body { height: 100%; }

body {
  background-color: $off-white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin: 0;
}

ngb-datepicker {
  opacity: 1;
  background-color: #fff;
  z-index: 9999999;
}

// Flexbox
.d-flex {
    display: flex;
  }
  
  .j-center {
    justify-content: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .j-space-between {
    justify-content: space-between;
  }
  
  .j-start {
    justify-content: flex-start;
  }
  
  .j-end {
    justify-content: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .align-end {
    align-items: flex-end;
  }

  // Text colors
  .error-message {
    color: red;
  }

  .divider {
    height: 2px;
    background-color: $off-white;
    width: 100%;
    margin: 10px auto;
  }

  // Dialog
  .mat-dialog-container {
    background-color: #fff;
  }

  // Graphs
  .graph-title {
    font-family: visbyLight, sans-serif;
    font-size: 18;
    font-weight: 500;
    text-align: center;
}