<div class="navbar-container">
   <app-navbar></app-navbar>
</div>

<div class="main-content">

    <!-- Tabs -->
    <div class="tabs">
        <div (click)="setView('record')"
             class="tabs-tab"
             [ngClass]="isCurrentView('record') ? 'tabs-tab_selected' : ''">
            <span [ngClass]="isCurrentView('record') ? 'selected' : ''">Record</span>
        </div>
        <div (click)="setView('analyze')"
             class="tabs-tab"
             [ngClass]="isCurrentView('analyze') ? 'tabs-tab_selected' : ''">
            <span [ngClass]="isCurrentView('analyze') ? 'selected' : ''">Analyze</span>
        </div>
    </div>

    <div class="record-and-analyze-content-container">
        <!-- Record -->
        <app-record *ngIf="isCurrentView('record')"></app-record>

        <!-- Analyze -->
        <app-analyze *ngIf="isCurrentView('analyze')"></app-analyze>
    </div>
</div>
