@import '../../sass/colors.scss';

.navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-content {
    width: 960px;
    margin: 50px auto 60px auto;
    padding: 0;
}

.tabs {
    width: 500px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-radius: 120px 120px 0 0;
    padding-top: 60px;

    &-tab {
        width: 280px;
        height: 60px;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
        border-radius: 6px 6px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        padding-top: 6px;
        color: darken($slate-gray, 3);

        &_selected {
            border-bottom-color: transparent;
            background-color: $medium-gray;
            margin-bottom: -3px;
            border-bottom: 3px solid transparent;
        }

        > span {
            padding-bottom: 10px;
            display: inline-block;
        }

        > span.selected {
            padding-bottom: 8px;
            display: inline-block;
        }

        &_buffer {
            cursor: default;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
}

.record-and-analyze-content-container {
    margin: 0 auto;
    background-color: $medium-gray;
    border-radius: 6px;
}