@import '../../sass/colors.scss';

.navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-content {
    width: 1000px;
    margin: 120px auto 60px auto;
    padding: 0;
    background-color: $background-gray;
    border-radius: 130px 130px 0 0;
}

.tabs {
    width: 500px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $background-gray;
    width: 100%;
    border-radius: 120px 120px 0 0;
    padding-top: 60px;

    &-tab {
        width: 320px;
        height: 100px;
        text-align: center;
        font-size: 50px;
        cursor: pointer;
        border-bottom: 4px solid lighten($jet-black, 20);

        &_selected {
            border-bottom: 4px solid lighten($green, 20) !important;
        }

        > span {
            padding-bottom: 10px;
            display: inline-block;
            font-weight: 500;
        }

        > span.selected {
            padding-bottom: 8px;
            display: inline-block;
        }
    }
}

.record-and-analyze-content-container {
    margin: 30px auto;
    max-width: 1000px;
    background-color: $background-gray;
}